.topcontainer {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
;
}

.header {
    color: #F9FAF8;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
}

.hlinks {
    color: #e5e7eb;
    display: flex;
    gap: 20px;
    font-size: 18px;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.belowheadercontainer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.herocontainer {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    gap: 250px;
    margin-top: -25px;
    max-height: 500px;
}


.topleft {
 margin-bottom: 150px;
 margin-top: 150px;
}

.herotext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.subtext {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
    display: flex;
    margin-top: 10px;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.topright {
    margin-bottom: 150px;
    margin-top: 150px;
}

.rightimage {
    background-color: gray;
    height: 230px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.whitecontainer {
    display: flex;
    background-color: rgb(255, 255, 255);
    min-height: 450px;
    flex-wrap: nowrap;
}

  .randominfo {
   display: flex;
   flex-wrap: nowrap;
   white-space: nowrap;
   margin-left: 700px;
   margin-top: 25px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 36px;
   font-weight: bolder;
   color: #1F2937;
   min-width: 100px;    
}

.lightgraycontainer {
    display: flex;
    background-color: #aeb7c4;
    min-height: 500px;
    justify-content: center;

}

.bordereddivs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
}

.bordercontainer {
    width: 150px;
    height: 150px;
    border-style: solid;
    color: #3882F6;
    border-radius: 25px;

}

.test {
    display: flex;
    width: 150px;
    height: 150px;
    border-style: solid;
    color: #3882F6;
    border-radius: 25px;
}
    

.testtext {
    /*margin-top: 160px;*/
    color: black;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

.rowcontainer {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-left: -600px;
    margin-bottom: -30px;
}

.whitecontent {
    display: flex;
    justify-content: content;
}

.quote {
    display: flex;
    align-items: flex-end;
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
    flex-direction: column;
    justify-content: center;
}

.endquote {
    font-weight: bold;
    font-size: 50%;
}

.bottomcontainer {
    display: flex;
    background-color: #ffffff;
    min-height: 350px;
    justify-content: center;

}